@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:700');
@import url('https:////maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
 
h1.logo {
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
    font-size: 75px;
}

#click-to-copy {
    display: none;
}

#shortenURL {
    color:Green;
}

.isa_info, .isa_success, .isa_warning, .isa_error {
	margin: 10px 0px;
	padding:12px;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}